In [80]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from datetime import timedelta
from airquality.data.prepare_data import create_model_matrix, create_ts_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [90]:
'''
headers_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/headers_mod.csv'
headers_obs = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/headers_obs.csv'
stations_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/stations.csv'
'''
targets_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/targets.csv'
obs_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/all_obs.csv'
models_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/all_models.csv'
submission_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/submissions/'

In [ ]:
def read_obs(path='/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/processed/all_obs.csv'):
    data = pd.read_csv(obs_path).rename(columns={
    'AirQualityStationEoICode':'station',
    'DatetimeBegin': 'datetime',
    'Concentration': 'concentration'
})
    data['datetime'] = pd.to_datetime(data['datetime'])
    data = data.sort_values(['station', 'datetime']).reset_index(drop=True)
    data = create_ts_df(data, 'datetime')
    data['date'] = data['datetime'].dt.date
    return data

In [91]:
data = pd.read_csv(obs_path).rename(columns={
    'AirQualityStationEoICode':'station',
    'DatetimeBegin': 'datetime',
    'Concentration': 'concentration'
})
data['datetime'] = pd.to_datetime(data['datetime'])
data = data.sort_values(['station', 'datetime']).reset_index(drop=True)
data = create_ts_df(data, 'datetime')
data['date'] = data['datetime'].dt.date
data.head()

,ES0691A,ES1396A,ES1438A,ES1480A,ES1679A,ES1856A,ES1992A,datetime,date
0,55,39.0,51.0,54.0,48,11.0,19.0,2013-01-01 01:00:00,2013-01-01
1,48,30.0,50.0,47.0,62,11.0,13.0,2013-01-01 02:00:00,2013-01-01
2,53,33.0,58.0,38.0,64,13.0,15.0,2013-01-01 03:00:00,2013-01-01
3,46,25.0,43.0,30.0,42,5.0,11.0,2013-01-01 04:00:00,2013-01-01
4,31,21.0,38.0,20.0,24,4.0,6.0,2013-01-01 05:00:00,2013-01-01

In [92]:
def read_targets(path='/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/targets.csv'):
    target = pd.read_csv(targets_path).rename(columns={
        'target':'concentration',
    })
    target['date'] = pd.to_datetime(target['date'])
    target = target.sort_values(['station', 'date']).reset_index(drop=True)
    target = create_ts_df(target, 'date')
    return target

   ES0691A  ES1396A  ES1438A  ES1480A  ES1679A  ES1856A  ES1992A       date
0        0      0.0      0.0      0.0        0        0        0 2015-01-03
1        0      0.0      0.0      0.0        0        0        0 2015-01-06
2        0      0.0      0.0      0.0        0        0        0 2015-01-09
3        0      0.0      0.0      0.0        0        0        1 2015-01-12
4        0      0.0      0.0      0.0        0        0        0 2015-01-15

In [89]:
data.loc[data['date'] == ((target['date'][0] - timedelta(days=1)).date())]

,ES0691A,ES1396A,ES1438A,ES1480A,ES1679A,ES1856A,ES1992A,datetime,date
17239,33,48.0,51.0,63.0,69,22.0,24.0,2015-01-02 00:00:00,2015-01-02
17240,30,43.0,31.0,59.0,52,22.0,24.0,2015-01-02 01:00:00,2015-01-02
17241,24,43.0,30.0,81.0,50,30.0,27.0,2015-01-02 02:00:00,2015-01-02
17242,37,56.0,30.0,89.0,61,34.0,33.0,2015-01-02 03:00:00,2015-01-02
17243,37,43.0,20.0,79.0,49,37.0,23.0,2015-01-02 04:00:00,2015-01-02
17244,33,34.0,27.0,78.0,45,30.0,37.0,2015-01-02 05:00:00,2015-01-02
17245,29,32.0,33.0,80.0,46,50.0,47.0,2015-01-02 06:00:00,2015-01-02
17246,42,28.0,19.0,75.0,71,42.0,71.0,2015-01-02 07:00:00,2015-01-02
17247,63,26.0,15.0,59.0,94,50.0,91.0,2015-01-02 08:00:00,2015-01-02
17248,81,30.0,14.0,59.0,98,12.0,23.0,2015-01-02 13:00:00,2015-01-02
17249,94,21.0,18.0,68.0,73,20.0,16.0,2015-01-02 14:00:00,2015-01-02
17250,81,33.0,27.0,64.0,70,13.0,27.0,2015-01-02 15:00:00,2015-01-02
17251,76,44.0,52.0,61.0,42,11.0,64.0,2015-01-02 16:00:00,2015-01-02
17252,71,75.0,49.0,51.0,35,10.0,56.0,2015-01-02 17:00:00,2015-01-02
17253,64,98.0,39.0,45.0,31,8.0,29.0,2015-01-02 18:00:00,2015-01-02
17254,58,87.0,50.0,36.0,25,9.0,23.0,2015-01-02 19:00:00,2015-01-02
17255,48,54.0,40.0,30.0,63,10.0,57.0,2015-01-02 20:00:00,2015-01-02
17256,46,50.0,32.0,25.0,57,21.0,28.0,2015-01-02 21:00:00,2015-01-02
17257,40,40.0,49.0,39.0,62,14.0,19.0,2015-01-02 22:00:00,2015-01-02
17258,43,32.0,39.0,50.0,71,15.0,37.0,2015-01-02 23:00:00,2015-01-02

In [ ]:
for date in target['date']:
    test = data.loc[data['date'] < date]
    trainX, trainY = train.drop(target_cols, axis=1), train[target_cols]
    gt = target.loc[target['date'] == date]
    LSTM_K.predict()

In [28]:
target['date']

0      2015-01-03
1      2015-01-06
2      2015-01-09
3      2015-01-12
4      2015-01-15
5      2015-01-18
6      2015-01-21
7      2015-01-24
8      2015-01-27
9      2015-01-30
10     2015-02-02
11     2015-02-05
12     2015-02-08
13     2015-02-11
14     2015-02-14
15     2015-02-17
16     2015-02-20
17     2015-02-23
18     2015-02-26
19     2015-03-01
20     2015-03-04
21     2015-03-07
22     2015-03-10
23     2015-03-13
24     2015-03-16
25     2015-03-19
26     2015-03-22
27     2015-03-25
28     2015-03-28
29     2015-03-31
          ...
90     2015-09-30
91     2015-10-03
92     2015-10-06
93     2015-10-09
94     2015-10-12
95     2015-10-15
96     2015-10-18
97     2015-10-21
98     2015-10-24
99     2015-10-27
100    2015-10-30
101    2015-11-02
102    2015-11-05
103    2015-11-08
104    2015-11-11
105    2015-11-17
106    2015-11-20
107    2015-11-23
108    2015-11-26
109    2015-11-29
110    2015-12-02
111    2015-12-05
112    2015-12-08
113    2015-12-11
114    2015-12-14
115    2015-12-17
116    2015-12-20
117    2015-12-23
118    2015-12-26
119    2015-12-29
Name: date, Length: 120, dtype: object