In [57]:
%load_ext autoreload
%autoreload 2
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
'''
headers_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/headers_mod.csv'
headers_obs = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/headers_obs.csv'
targets_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/targets.csv'
stations_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/stations.csv'
'''
all_models_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/raw/all_models.csv'
submission_path = '/Users/b.yc0006/Cloud/BCNAirQualityDatathon/data/submissions/'

In [59]:
data = pd.read_csv(all_models_path).iloc[:,1:]

# Exploring

In [49]:
data.head()

,lon,lat,day,hour,AirPollutant,Concentration,year,station
0,2.1331,41.3788,2013-03-31,00:00:00,NO2,10.17750,2013,ES1396A
1,2.1331,41.3788,2013-03-31,01:00:00,NO2,9.07109,2013,ES1396A
2,2.1331,41.3788,2013-03-31,02:00:00,NO2,7.36639,2013,ES1396A
3,2.1331,41.3788,2013-03-31,03:00:00,NO2,8.24546,2013,ES1396A
4,2.1331,41.3788,2013-03-31,04:00:00,NO2,9.76113,2013,ES1396A

In [50]:
data.tail()

,lon,lat,day,hour,AirPollutant,Concentration,year,station
367901,2.18742,41.3864,2015-09-16,19:00:00,NO2,31.1346,2015,ES1679A
367902,2.18742,41.3864,2015-09-16,20:00:00,NO2,36.4066,2015,ES1679A
367903,2.18742,41.3864,2015-09-16,21:00:00,NO2,39.9240,2015,ES1679A
367904,2.18742,41.3864,2015-09-16,22:00:00,NO2,37.2978,2015,ES1679A
367905,2.18742,41.3864,2015-09-16,23:00:00,NO2,36.2155,2015,ES1679A

In [30]:
targets = pd.read_csv(targets_path)
stations = pd.read_csv(stations_path)

In [32]:
print targets['target'].mean()
targets.head()

0.0383233532934

         date  station  target
0  2015-01-03  ES0691A       0
1  2015-01-03  ES1396A       0
2  2015-01-03  ES1438A       0
3  2015-01-03  ES1480A       0
4  2015-01-03  ES1679A       0

In [36]:
targets['target'] = 0
submission = targets['target']

In [40]:
submission

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
805    0
806    0
807    0
808    0
809    0
810    0
811    0
812    0
813    0
814    0
815    0
816    0
817    0
818    0
819    0
820    0
821    0
822    0
823    0
824    0
825    0
826    0
827    0
828    0
829    0
830    0
831    0
832    0
833    0
834    0
Name: target, Length: 835, dtype: int64

In [42]:
submission.to_csv(submission_path+'submission_zeros.csv', header=True, index=False)

In [12]:
stations.head()

,code,name,lat,lon,height,city,country
0,ES1480A,Barcelona (Gràcia-Sant Gervasi),41.3987,2.15339,57,Barcelona,España
1,ES1856A,Barcelona (Vall d'Hebron),41.4261,2.14799,136,Barcelona,España
2,ES1679A,Ciutadella,41.3864,2.18742,7,Barcelona,España
3,ES1438A,Barcelona (Eixample),41.3853,2.15382,26,Barcelona,España
4,ES1396A,Barcelona,41.3788,2.13310,35,Barcelona,España

### Keras LSTM

In [64]:
from airquality.models.LSTM_keras import LSTM
from airquality.data.prepare_data import create_model_matrix

In [77]:
data.sort_values(['station', 'year', 'day', 'hour'])
data.head()

,lon,lat,day,hour,AirPollutant,Concentration,year,station
0,2.1331,41.3788,2013-03-31,00:00:00,NO2,10.17750,2013,ES1396A
1,2.1331,41.3788,2013-03-31,01:00:00,NO2,9.07109,2013,ES1396A
2,2.1331,41.3788,2013-03-31,02:00:00,NO2,7.36639,2013,ES1396A
3,2.1331,41.3788,2013-03-31,03:00:00,NO2,8.24546,2013,ES1396A
4,2.1331,41.3788,2013-03-31,04:00:00,NO2,9.76113,2013,ES1396A

In [79]:
new_data.head()

    ES1396A  ES1480A  ES0691A  ES1856A  ES1992A   ES1679A  ES1438A
0  10.17750  37.2111  52.1734  61.6392  33.1982  113.5090  88.7119
1   9.07109  32.3653  43.0555  45.8475  21.2685   50.3780  54.6212
2   7.36639  27.9822  36.0462  38.0194  16.6343   19.8172  42.7192
3   8.24546  21.7758  28.9298  28.5428  12.8630   20.6103  33.6265
4   9.76113  24.3151  23.0794  25.8225  16.3585   24.0681  30.2972

In [80]:
model_matrix = create_model_matrix(target=new_data)
model_matrix.head()

,ES1396A,ES1480A,ES0691A,ES1856A,ES1992A,ES1679A,ES1438A,ES1396A_lag_1,ES1480A_lag_1,ES0691A_lag_1,ES1856A_lag_1,ES1992A_lag_1,ES1679A_lag_1,ES1438A_lag_1
1,9.07109,32.3653,43.0555,45.8475,21.2685,50.3780,54.6212,10.17750,37.2111,52.1734,61.6392,33.1982,113.5090,88.7119
2,7.36639,27.9822,36.0462,38.0194,16.6343,19.8172,42.7192,9.07109,32.3653,43.0555,45.8475,21.2685,50.3780,54.6212
3,8.24546,21.7758,28.9298,28.5428,12.8630,20.6103,33.6265,7.36639,27.9822,36.0462,38.0194,16.6343,19.8172,42.7192
4,9.76113,24.3151,23.0794,25.8225,16.3585,24.0681,30.2972,8.24546,21.7758,28.9298,28.5428,12.8630,20.6103,33.6265
5,11.23400,36.6631,26.7272,32.2681,21.5443,31.7449,32.0236,9.76113,24.3151,23.0794,25.8225,16.3585,24.0681,30.2972

In [82]:
def tt_split(data, train_size):
    test_size = len(data) - train_size
    trainX, testX = data.iloc[0:train_size,1].values, data.iloc[train_size:len(data),1].values
    trainY, testY = data.iloc[0:train_size,0].values, data.iloc[train_size:len(data),0].values
    print(len(trainX), len(testX))
    return trainX, testX, trainY, testY

In [83]:
# split into train and test sets
train_size = int(len(model_matrix) * 0.67)
tt_split(model_matrix, train_size)

(34294, 16892)

(array([32.3653, 27.9822, 21.7758, ..., 72.3488, 72.2257, 49.7593]),
 array([33.242 , 29.9429, 28.9764, ..., 90.7832, 73.0661, 56.9491]),
 array([ 9.07109,  7.36639,  8.24546, ..., 53.6286 , 45.3349 , 16.4217 ]),
 array([11.616  , 10.6496 ,  9.17612, ..., 78.6187 , 53.6571 , 42.3477 ]))

In [90]:
param_dict = {
    'batch_size':10,
    'seq_length':1,
    'hidden_units':10,
    'dense_layers':1,
    'dense_units':10,
    'epochs':50,
}

lstm = LSTM(**param_dict)

TypeError: __init__() got an unexpected keyword argument 'input_shape'