In [3]:
import copy
import glob
import random
import regex as re
import numpy as np
import pandas as pd
import datetime as dt
import xgboost as xgb
import tensorflow as tf
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline
%load_ext rpy2.ipython
%run ../airquality/data/gen_daily_targets.py
%run ../airquality/data/prepare_data.py

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [4]:
test = pd.read_csv('../data/targets.csv')
stations = pd.read_csv('../data/stations.csv')
extra_features = pd.read_csv('../data/dataset_v1.csv', index_col=0).drop([
    'holiday', 'target', 
], axis=1)
rolling_mean_features = pd.read_csv('../data/data_roll_day_dist.csv')
extra_features = extra_features[[c for c in extra_features.columns if not 'dist' in c]]

In [5]:
observations = pd.read_csv('../data/observations.csv', index_col=0)
models = pd.read_csv('../data/models.csv', index_col=0)
obs_and_mods = pd.merge(models, observations, how='left',
                    on=['station', 'day', 'time', 'datetime' ,'year'],
                    suffixes=('_mod', '')).sort_values('datetime', ascending=True)
obs_and_mods.to_csv('../data/obs_and_mod.csv')
obs_and_mods_cols = ['pred_0_days', 'pred_1_days', 'Concentration', 'target', 'day']
obs_and_mods.head()

,pred_0_days,pred_1_days,day,lon,lat,year,station,datetime,time,Concentration,target
0,38.79,34.11,2013-01-01,2.15,41.39,2013,ES1438A,2013-01-01 00:00:00,00:00:00,nan,nan
1,28.53,27.48,2013-01-01,2.13,41.38,2013,ES1396A,2013-01-01 00:00:00,00:00:00,nan,nan
2,35.85,42.57,2013-01-01,2.20,41.40,2013,ES0691A,2013-01-01 00:00:00,00:00:00,nan,nan
3,31.81,31.59,2013-01-01,2.15,41.40,2013,ES1480A,2013-01-01 00:00:00,00:00:00,nan,nan
4,31.81,31.59,2013-01-01,2.15,41.43,2013,ES1856A,2013-01-01 00:00:00,00:00:00,nan,nan

In [7]:
agg_types = ['mean', 'max', 'std']
tall_series = obs_and_mods.groupby(['day', 'station']).agg({
    'Concentration': agg_types
})['Concentration'].reset_index()
aggs = [tall_series.pivot(index='day', columns='station', values=agg) for agg in agg_types]
aggs = [df.rename(columns={c: c + '_' + agg for c in df.columns}) for df, agg in zip(aggs, agg_types)]
wide_series = pd.concat(aggs, axis=1)
wide_series.head()

station,ES0691A_mean,ES1396A_mean,ES1438A_mean,ES1480A_mean,ES1679A_mean,ES1856A_mean,ES1992A_mean,ES0691A_max,ES1396A_max,ES1438A_max,...,ES1679A_max,ES1856A_max,ES1992A_max,ES0691A_std,ES1396A_std,ES1438A_std,ES1480A_std,ES1679A_std,ES1856A_std,ES1992A_std
day,,,,,,,,,,,,,,,,,,,,,
2013-01-01,42.39,38.61,51.39,43.87,37.13,14.78,23.35,72.00,98.00,112.00,...,69.00,39.00,68.00,18.13,26.67,25.73,24.63,20.29,10.99,21.15
2013-01-02,52.50,47.58,63.71,54.50,48.75,32.08,43.29,87.00,86.00,119.00,...,76.00,77.00,85.00,16.61,24.72,26.48,19.18,16.91,25.43,26.53
2013-01-03,64.62,54.62,74.04,64.17,49.25,38.88,49.04,119.00,85.00,117.00,...,78.00,94.00,110.00,22.69,19.05,22.87,21.70,14.87,22.17,31.43
2013-01-04,54.12,44.30,44.50,89.13,61.92,22.18,39.04,80.00,113.00,123.00,...,108.00,60.00,99.00,16.58,28.35,32.46,45.41,25.83,16.98,28.20
2013-01-05,36.88,39.17,nan,89.00,64.00,12.25,33.54,60.00,114.00,nan,...,114.00,16.00,85.00,11.00,22.21,nan,21.63,17.04,2.56,17.75

## Cross-Validation KNN
Changes to `Jonas_7`:
* Use new features from Jose & Roger
* Fix potential bfill overfitting issue

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV, KFold
from sklearn.metrics import log_loss, make_scorer

lags = 100
for s in test.station.unique():
    data = wide_series[list(wide_series.reset_index().day < '2015-01-01')]
    to_lag = data[[c for c in data.columns if not c in ['{}_{}'.format(s, agg) for agg in agg_types]]]
    features = create_lagged_features(to_lag, lags)\
        .join(extra_features[extra_features.station == s].set_index('date'))\
        .join(rolling_mean_features[rolling_mean_features.station == s]
              .set_index('date').drop(['station', 'conc_obs', 'month', 'week_day', 'weekend'], axis=1))\
        .join(obs_and_mods[obs_and_mods.station == s][['Concentration', 'day']].groupby('day').max())\
        .fillna(method='ffill').fillna(0)
    X = features[[c for c in features.columns if not c in [
        'time', 'datetime', 'Concentration', 'target', 'station'
    ]]].values
    y = (features['Concentration'].fillna(method='ffill').values > 100).astype(int)

    params = pd.DataFrame({
        'n_neighbors': list(range(1, 25)),
        'score': [np.nan] * 24
    })
    for i, r in params[['n_neighbors']].iterrows():
        kf = KFold(n_splits=3)
        metric = []
        for train_index, test_index in kf.split(X):
            X_train, X_test = X[train_index], X[test_index]
            y_train, y_test = y[train_index], y[test_index]
            p = dict(r)
            model = KNeighborsClassifier(**p)
            model.fit(X_train, y_train)
            y_pred = model.predict_proba(X_test)
            metric.append(
                log_loss(y_test, y_pred, labels=(0, 1))
            ) 

        params.loc[i, 'score'] = np.mean(metric)
        print(params.iloc[i])

    params.to_csv('../reports/cv_knn_Jonas_7-1_{}_{}.csv'
                  .format(s, len(glob.glob('../reports/cv_knn_Jonas_7-1_{}_*'.format(s)))))
    params.head()

n_neighbors   1.00
score         4.87
Name: 0, dtype: float64
n_neighbors   2.00
score         2.59
Name: 1, dtype: float64
n_neighbors   3.00
score         1.99
Name: 2, dtype: float64
n_neighbors   4.00
score         1.76
Name: 3, dtype: float64
n_neighbors   5.00
score         1.63
Name: 4, dtype: float64
n_neighbors   6.00
score         1.54
Name: 5, dtype: float64
n_neighbors   7.00
score         1.37
Name: 6, dtype: float64
n_neighbors   8.00
score         1.28
Name: 7, dtype: float64
n_neighbors   9.00
score         1.24
Name: 8, dtype: float64
n_neighbors   10.00
score          1.23
Name: 9, dtype: float64
n_neighbors   11.00
score          1.15
Name: 10, dtype: float64
n_neighbors   12.00
score          1.10
Name: 11, dtype: float64
n_neighbors   13.00
score          1.06
Name: 12, dtype: float64
n_neighbors   14.00
score          0.97
Name: 13, dtype: float64
n_neighbors   15.00
score          0.97
Name: 14, dtype: float64
n_neighbors   16.00
score          0.84
Name: 15, dtype: float64
n_neighbors   17.00
score          0.76
Name: 16, dtype: float64
n_neighbors   18.00
score          0.71
Name: 17, dtype: float64
n_neighbors   19.00
score          0.71
Name: 18, dtype: float64
n_neighbors   20.00
score          0.72
Name: 19, dtype: float64
n_neighbors   21.00
score          0.67
Name: 20, dtype: float64
n_neighbors   22.00
score          0.63
Name: 21, dtype: float64
n_neighbors   23.00
score          0.63
Name: 22, dtype: float64
n_neighbors   24.00
score          0.63
Name: 23, dtype: float64
n_neighbors   1.00
score         4.54
Name: 0, dtype: float64
n_neighbors   2.00
score         2.40
Name: 1, dtype: float64
n_neighbors   3.00
score         1.86
Name: 2, dtype: float64
n_neighbors   4.00
score         1.50
Name: 3, dtype: float64
n_neighbors   5.00
score         1.32
Name: 4, dtype: float64
n_neighbors   6.00
score         1.10
Name: 5, dtype: float64
n_neighbors   7.00
score         1.10
Name: 6, dtype: float64
n_neighbors   8.00
score         1.06
Name: 7, dtype: float64
n_neighbors   9.00
score         1.01
Name: 8, dtype: float64
n_neighbors   10.00
score          0.97
Name: 9, dtype: float64
n_neighbors   11.00
score          0.97
Name: 10, dtype: float64
n_neighbors   12.00
score          0.97
Name: 11, dtype: float64
n_neighbors   13.00
score          0.98
Name: 12, dtype: float64
n_neighbors   14.00
score          0.93
Name: 13, dtype: float64
n_neighbors   15.00
score          0.89
Name: 14, dtype: float64
n_neighbors   16.00
score          0.81
Name: 15, dtype: float64
n_neighbors   17.00
score          0.81
Name: 16, dtype: float64
n_neighbors   18.00
score          0.81
Name: 17, dtype: float64
n_neighbors   19.00
score          0.81
Name: 18, dtype: float64
n_neighbors   20.00
score          0.81
Name: 19, dtype: float64
n_neighbors   21.00
score          0.77
Name: 20, dtype: float64
n_neighbors   22.00
score          0.72
Name: 21, dtype: float64
n_neighbors   23.00
score          0.73
Name: 22, dtype: float64
n_neighbors   24.00
score          0.72
Name: 23, dtype: float64
n_neighbors    1.00
score         12.72
Name: 0, dtype: float64
n_neighbors   2.00
score         7.03
Name: 1, dtype: float64
n_neighbors   3.00
score         4.25
Name: 2, dtype: float64
n_neighbors   4.00
score         3.13
Name: 3, dtype: float64
n_neighbors   5.00
score         2.19
Name: 4, dtype: float64
n_neighbors   6.00
score         1.58
Name: 5, dtype: float64
n_neighbors   7.00
score         1.27
Name: 6, dtype: float64
n_neighbors   8.00
score         1.01
Name: 7, dtype: float64
n_neighbors   9.00
score         0.91
Name: 8, dtype: float64
n_neighbors   10.00
score          0.82
Name: 9, dtype: float64
n_neighbors   11.00
score          0.82
Name: 10, dtype: float64
n_neighbors   12.00
score          0.69
Name: 11, dtype: float64
n_neighbors   13.00
score          0.68
Name: 12, dtype: float64
n_neighbors   14.00
score          0.63
Name: 13, dtype: float64
n_neighbors   15.00
score          0.63
Name: 14, dtype: float64
n_neighbors   16.00
score          0.62
Name: 15, dtype: float64
n_neighbors   17.00
score          0.62
Name: 16, dtype: float64
n_neighbors   18.00
score          0.62
Name: 17, dtype: float64
n_neighbors   19.00
score          0.62
Name: 18, dtype: float64
n_neighbors   20.00
score          0.62
Name: 19, dtype: float64
n_neighbors   21.00
score          0.62
Name: 20, dtype: float64
n_neighbors   22.00
score          0.62
Name: 21, dtype: float64
n_neighbors   23.00
score          0.62
Name: 22, dtype: float64
n_neighbors   24.00
score          0.61
Name: 23, dtype: float64
n_neighbors    1.00
score         13.39
Name: 0, dtype: float64
n_neighbors   2.00
score         6.42
Name: 1, dtype: float64
n_neighbors   3.00
score         3.66
Name: 2, dtype: float64
n_neighbors   4.00
score         2.35
Name: 3, dtype: float64
n_neighbors   5.00
score         1.72
Name: 4, dtype: float64
n_neighbors   6.00
score         1.19
Name: 5, dtype: float64
n_neighbors   7.00
score         0.92
Name: 6, dtype: float64
n_neighbors   8.00
score         0.84
Name: 7, dtype: float64
n_neighbors   9.00
score         0.75
Name: 8, dtype: float64
n_neighbors   10.00
score          0.66
Name: 9, dtype: float64
n_neighbors   11.00
score          0.66
Name: 10, dtype: float64
n_neighbors   12.00
score          0.66
Name: 11, dtype: float64
n_neighbors   13.00
score          0.65
Name: 12, dtype: float64
n_neighbors   14.00
score          0.65
Name: 13, dtype: float64
n_neighbors   15.00
score          0.65
Name: 14, dtype: float64
n_neighbors   16.00
score          0.65
Name: 15, dtype: float64
n_neighbors   17.00
score          0.65
Name: 16, dtype: float64
n_neighbors   18.00
score          0.65
Name: 17, dtype: float64
n_neighbors   19.00
score          0.65
Name: 18, dtype: float64
n_neighbors   20.00
score          0.65
Name: 19, dtype: float64
n_neighbors   21.00
score          0.65
Name: 20, dtype: float64
n_neighbors   22.00
score          0.64
Name: 21, dtype: float64
n_neighbors   23.00
score          0.64
Name: 22, dtype: float64
n_neighbors   24.00
score          0.64
Name: 23, dtype: float64
n_neighbors   1.00
score         3.93
Name: 0, dtype: float64
n_neighbors   2.00
score         2.25
Name: 1, dtype: float64
n_neighbors   3.00
score         1.93
Name: 2, dtype: float64
n_neighbors   4.00
score         1.89
Name: 3, dtype: float64
n_neighbors   5.00
score         1.75
Name: 4, dtype: float64
n_neighbors   6.00
score         1.62
Name: 5, dtype: float64
n_neighbors   7.00
score         1.40
Name: 6, dtype: float64
n_neighbors   8.00
score         1.26
Name: 7, dtype: float64
n_neighbors   9.00
score         1.27
Name: 8, dtype: float64
n_neighbors   10.00
score          1.22
Name: 9, dtype: float64
n_neighbors   11.00
score          1.09
Name: 10, dtype: float64
n_neighbors   12.00
score          1.05
Name: 11, dtype: float64
n_neighbors   13.00
score          1.01
Name: 12, dtype: float64
n_neighbors   14.00
score          1.01
Name: 13, dtype: float64
n_neighbors   15.00
score          0.92
Name: 14, dtype: float64
n_neighbors   16.00
score          0.88
Name: 15, dtype: float64
n_neighbors   17.00
score          0.88
Name: 16, dtype: float64
n_neighbors   18.00
score          0.84
Name: 17, dtype: float64
n_neighbors   19.00
score          0.80
Name: 18, dtype: float64
n_neighbors   20.00
score          0.71
Name: 19, dtype: float64
n_neighbors   21.00
score          0.67
Name: 20, dtype: float64
n_neighbors   22.00
score          0.63
Name: 21, dtype: float64
n_neighbors   23.00
score          0.59
Name: 22, dtype: float64
n_neighbors   24.00
score          0.58
Name: 23, dtype: float64
n_neighbors   1.00
score         5.77
Name: 0, dtype: float64
n_neighbors   2.00
score         2.54
Name: 1, dtype: float64
n_neighbors   3.00
score         1.59
Name: 2, dtype: float64
n_neighbors   4.00
score         1.18
Name: 3, dtype: float64
n_neighbors   5.00
score         0.96
Name: 4, dtype: float64
n_neighbors   6.00
score         0.91
Name: 5, dtype: float64
n_neighbors   7.00
score         0.78
Name: 6, dtype: float64
n_neighbors   8.00
score         0.69
Name: 7, dtype: float64
n_neighbors   9.00
score         0.65
Name: 8, dtype: float64

n_neighbors   10.00
score          0.56
Name: 9, dtype: float64
n_neighbors   11.00
score          0.57
Name: 10, dtype: float64
n_neighbors   12.00
score          0.52
Name: 11, dtype: float64
n_neighbors   13.00
score          0.53
Name: 12, dtype: float64
n_neighbors   14.00
score          0.49
Name: 13, dtype: float64
n_neighbors   15.00
score          0.49
Name: 14, dtype: float64
n_neighbors   16.00
score          0.49
Name: 15, dtype: float64
n_neighbors   17.00
score          0.49
Name: 16, dtype: float64
n_neighbors   18.00
score          0.49
Name: 17, dtype: float64
n_neighbors   19.00
score          0.49
Name: 18, dtype: float64
n_neighbors   20.00
score          0.49
Name: 19, dtype: float64
n_neighbors   21.00
score          0.45
Name: 20, dtype: float64
n_neighbors   22.00
score          0.45
Name: 21, dtype: float64
n_neighbors   23.00
score          0.45
Name: 22, dtype: float64
n_neighbors   24.00
score          0.45
Name: 23, dtype: float64
n_neighbors   1.00
score         9.32
Name: 0, dtype: float64
n_neighbors   2.00
score         4.29
Name: 1, dtype: float64
n_neighbors   3.00
score         2.81
Name: 2, dtype: float64
n_neighbors   4.00
score         2.14
Name: 3, dtype: float64
n_neighbors   5.00
score         1.75
Name: 4, dtype: float64
n_neighbors   6.00
score         1.34
Name: 5, dtype: float64
n_neighbors   7.00
score         1.08
Name: 6, dtype: float64
n_neighbors   8.00
score         1.04
Name: 7, dtype: float64
n_neighbors   9.00
score         0.99
Name: 8, dtype: float64
n_neighbors   10.00
score          0.95
Name: 9, dtype: float64
n_neighbors   11.00
score          0.86
Name: 10, dtype: float64
n_neighbors   12.00
score          0.86
Name: 11, dtype: float64
n_neighbors   13.00
score          0.86
Name: 12, dtype: float64
n_neighbors   14.00
score          0.77
Name: 13, dtype: float64
n_neighbors   15.00
score          0.69
Name: 14, dtype: float64
n_neighbors   16.00
score          0.68
Name: 15, dtype: float64
n_neighbors   17.00
score          0.69
Name: 16, dtype: float64
n_neighbors   18.00
score          0.64
Name: 17, dtype: float64
n_neighbors   19.00
score          0.65
Name: 18, dtype: float64
n_neighbors   20.00
score          0.60
Name: 19, dtype: float64
n_neighbors   21.00
score          0.60
Name: 20, dtype: float64
n_neighbors   22.00
score          0.61
Name: 21, dtype: float64
n_neighbors   23.00
score          0.61
Name: 22, dtype: float64
n_neighbors   24.00
score          0.56
Name: 23, dtype: float64

## KNN Classification per Station

* Targeting `target`
* Using imputed for 2015

In [12]:
tall_series_mod = obs_and_mods.fillna(0).groupby(['day', 'station']).agg({
    'pred_0_days': agg_types
})['pred_0_days'].reset_index().rename(columns={
    'pred_0_days': 'Concentration'
})
aggs = [tall_series_mod.pivot(index='day', columns='station', values=agg) for agg in agg_types]
aggs = [df.rename(columns={c: c + '_' + agg for c in df.columns}) for df, agg in zip(aggs, agg_types)]
wide_series_mod = pd.concat(aggs, axis=1)
wide_series_mod.tail()

station,ES0691A_mean,ES1396A_mean,ES1438A_mean,ES1480A_mean,ES1679A_mean,ES1856A_mean,ES1992A_mean,ES0691A_max,ES1396A_max,ES1438A_max,...,ES1679A_max,ES1856A_max,ES1992A_max,ES0691A_std,ES1396A_std,ES1438A_std,ES1480A_std,ES1679A_std,ES1856A_std,ES1992A_std
day,,,,,,,,,,,,,,,,,,,,,
2015-12-27,51.54,50.02,57.79,56.64,57.79,56.64,50.02,104.21,96.41,104.76,...,104.76,108.53,96.41,25.52,28.88,23.64,31.42,23.64,31.42,28.88
2015-12-28,69.50,59.83,74.54,70.96,74.54,70.96,59.83,123.89,116.91,135.50,...,135.50,131.59,116.91,28.95,26.06,31.27,28.83,31.27,28.83,26.06
2015-12-29,48.35,44.61,53.75,46.21,53.75,46.21,44.61,93.35,113.39,106.20,...,106.20,113.48,113.39,23.33,28.05,22.57,28.15,22.57,28.15,28.05
2015-12-30,55.49,43.79,54.16,49.88,54.16,49.88,43.79,103.20,91.71,95.34,...,95.34,105.85,91.71,27.95,24.97,23.91,29.40,23.91,29.40,24.97
2015-12-31,64.10,51.87,64.55,60.12,64.55,60.12,51.87,103.42,97.83,109.93,...,109.93,107.90,97.83,22.91,22.19,23.95,25.89,23.95,25.89,22.19

In [13]:
to_impute = wide_series.loc[test['date'].unique()]
for s in obs_and_mods.station.unique():
    columns = [s + '_' + agg for agg in agg_types]
    to_impute[columns] = wide_series_mod.loc[to_impute.reset_index().day, columns]
    
originals = wide_series[list(~wide_series.reset_index().day.isin(test['date'].unique()))]
wide_series_imputed = pd.concat([to_impute, originals]).sort_index()
wide_series_imputed.head()

station,ES0691A_mean,ES1396A_mean,ES1438A_mean,ES1480A_mean,ES1679A_mean,ES1856A_mean,ES1992A_mean,ES0691A_max,ES1396A_max,ES1438A_max,...,ES1679A_max,ES1856A_max,ES1992A_max,ES0691A_std,ES1396A_std,ES1438A_std,ES1480A_std,ES1679A_std,ES1856A_std,ES1992A_std
day,,,,,,,,,,,,,,,,,,,,,
2013-01-01,42.39,38.61,51.39,43.87,37.13,14.78,23.35,72.00,98.00,112.00,...,69.00,39.00,68.00,18.13,26.67,25.73,24.63,20.29,10.99,21.15
2013-01-02,52.50,47.58,63.71,54.50,48.75,32.08,43.29,87.00,86.00,119.00,...,76.00,77.00,85.00,16.61,24.72,26.48,19.18,16.91,25.43,26.53
2013-01-03,64.62,54.62,74.04,64.17,49.25,38.88,49.04,119.00,85.00,117.00,...,78.00,94.00,110.00,22.69,19.05,22.87,21.70,14.87,22.17,31.43
2013-01-04,54.12,44.30,44.50,89.13,61.92,22.18,39.04,80.00,113.00,123.00,...,108.00,60.00,99.00,16.58,28.35,32.46,45.41,25.83,16.98,28.20
2013-01-05,36.88,39.17,nan,89.00,64.00,12.25,33.54,60.00,114.00,nan,...,114.00,16.00,85.00,11.00,22.21,nan,21.63,17.04,2.56,17.75

In [15]:
all_frames = []
for s in test.station.unique():
    frames = [pd.read_csv(f, index_col=0) for f in glob.glob('../reports/cv_knn_Jonas_7-1_*{}*'.format(s))]
    try:
        frame = pd.concat(frames)
        frame['station'] = s
        all_frames.append(frame)
    except ValueError:
        pass
    
cv_results = pd.concat(all_frames)
cv_results = cv_results[cv_results['score'] > 0]
cv_results.sort_values(['score', 'station']).drop_duplicates('station')

    n_neighbors  score  station
20           21   0.45  ES1856A
23           24   0.56  ES1992A
23           24   0.58  ES1679A
23           24   0.61  ES1438A
23           24   0.63  ES0691A
22           23   0.64  ES1480A
21           22   0.72  ES1396A

In [16]:
test_params = []
for i, r in cv_results.sort_values(['score', 'station']).drop_duplicates('station').iterrows():
    p = dict(r)
    del p['score']
    del p['station']
    test_params.append((r['station'], p))
    
test_params

[('ES1856A', {'n_neighbors': 21}),
 ('ES1992A', {'n_neighbors': 24}),
 ('ES1679A', {'n_neighbors': 24}),
 ('ES1438A', {'n_neighbors': 24}),
 ('ES0691A', {'n_neighbors': 24}),
 ('ES1480A', {'n_neighbors': 23}),
 ('ES1396A', {'n_neighbors': 22})]

In [21]:
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.model_selection import RandomizedSearchCV, KFold
# from sklearn.metrics import log_loss, make_scorer

# lags = 100
# preds_by_station = []
# for s, p in test_params:
#     data = pd.concat([
#         wide_series[list(wide_series.reset_index().day < '2015-01-01')],
#         wide_series_imputed[list(wide_series_imputed.reset_index().day >= '2015-01-01')]
#     ])
#     to_lag = data[[c for c in data.columns if not c in ['{}_{}'.format(s, agg) for agg in agg_types]]]
#     features = create_lagged_features(to_lag, lags)\
#         .join(extra_features[extra_features.station == s].set_index('date'))\
#         .join(rolling_mean_features[rolling_mean_features.station == s]
#               .set_index('date').drop(['station', 'conc_obs', 'weekend', 'week_day', 'month'], axis=1))\
#         .join(obs_and_mods[obs_and_mods.station == s][['Concentration', 'day']].groupby('day').max())\
#         .fillna(method='ffill').fillna(0)
#     X = features[[c for c in features.columns if not c in [
#         'time', 'datetime', 'Concentration', 'target', 'station'
#     ]]].values
#     y = (features['Concentration'].values > 100).astype(int)
#     y_pred_all = copy.deepcopy(y).astype(float)
#     metrics_all = []
    
#     kf = KFold(n_splits=3)
#     for train_index, test_index in kf.split(X):
#         X_train, X_test = X[train_index], X[test_index]
#         y_train, y_test = y[train_index], y[test_index]
#         model = KNeighborsClassifier(**p)
#         model.fit(X_train, y_train)
#         y_pred = model.predict_proba(X_test)[:, 1]
#         y_pred_all[test_index] = y_pred
#         metrics_all.append(log_loss(y_test, y_pred, labels=(0, 1)))
        
#     preds_by_station.append((s, y_pred_all))

predictions = pd.DataFrame(np.column_stack([e[1] for e in preds_by_station]), columns=test.station.unique())
predictions['date'] = features['day']
predictions.to_csv('../reports/pred_knn_Jonas_7-1_{}.csv'.format(len(glob.glob('../reports/pred_knn_Jonas_7-1_*'))))
predictions = predictions.set_index('date')
print('CV Metric: {}'.format(np.mean(metrics_all)))
predictions.tail()

CV Metric: 1.1967581850206441

      ES0691A  ES1396A  ES1438A  ES1480A  ES1679A  ES1856A  ES1992A
date
nan      0.14     0.21     0.25     0.42     0.04     0.22     0.05
nan      0.24     0.21     0.25     0.54     0.04     0.26     0.05
nan      0.19     0.21     0.25     0.42     0.04     0.30     0.09
nan      0.24     0.21     0.25     0.46     0.04     0.30     0.09
nan      0.19     0.17     0.29     0.46     0.08     0.26     0.05

## KNN test 2013 on 2014

In [23]:
to_lag = data[[c for c in data.columns if not c in ['{}_{}'.format(s, agg) for agg in agg_types]]]
features = create_lagged_features(to_lag, lags)\
    .join(extra_features[extra_features.station == s].set_index('date'))\
    .join(rolling_mean_features[rolling_mean_features.station == s]
          .set_index('date').drop(['station', 'conc_obs', 'month', 'week_day', 'weekend'], axis=1))\
    .join(obs_and_mods[obs_and_mods.station == s][['Concentration', 'day']].groupby('day').max())\
    .fillna(method='ffill').fillna(0)
X = features[[c for c in features.columns if not c in [
    'time', 'datetime', 'Concentration', 'target', 'station'
]]]
y = (features['Concentration'].values > 100).astype(int)

In [29]:
features.drop('day')

ValueError: labels ['day'] not contained in axis

In [28]:
X_train = X[list(X.reset_index()['day'] < '2014-01-01')]
X_test = X[list((X.reset_index()['day'] >= '2014-01-01') & (X.reset_index()['day'] < '2015-01-01'))]
y_train = (features[list(features.reset_index()['day'] < '2014-01-01')]['Concentration'] > 100).astype(int)
y_test = (features[list((features.reset_index()['day'] >= '2014-01-01') & (features.reset_index()['day'] < '2015-01-01'))]['Concentration'] > 100).astype(int)
model = KNeighborsClassifier(n_neighbors=20)
model.fit(X_train, y_train)
log_loss(y_test, model.predict_proba(X_test), labels=(0, 1))

SyntaxError: invalid syntax (<ipython-input-28-10d802c8d5e5>, line 3)