In [2]:
import copy
import glob
import regex as re
import numpy as np
import pandas as pd
import datetime as dt
import xgboost as xgb
import tensorflow as tf
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline
%load_ext rpy2.ipython
%run ../airquality/data/gen_daily_targets.py
%run ../airquality/data/prepare_data.py

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [3]:
test = pd.read_csv('../data/targets.csv')
stations = pd.read_csv('../data/stations.csv')

In [66]:
observations = pd.read_csv('../data/observations.csv', index_col=0)
models = pd.read_csv('../data/models.csv', index_col=0)
obs_and_mods = pd.merge(models, observations, how='left',
                    on=['station', 'day', 'time', 'datetime' ,'year'],
                    suffixes=('_mod', '')).sort_values('datetime', ascending=True)
obs_and_mods.to_csv('../data/obs_and_mod.csv')
obs_and_mods_cols = ['pred_0_days', 'pred_1_days', 'Concentration', 'target', 'day']
obs_and_mods.head()

,pred_0_days,pred_1_days,day,lon,lat,year,station,datetime,time,Concentration,target
0,38.79,34.11,2013-01-01,2.15,41.39,2013,ES1438A,2013-01-01 00:00:00,00:00:00,nan,nan
1,28.53,27.48,2013-01-01,2.13,41.38,2013,ES1396A,2013-01-01 00:00:00,00:00:00,nan,nan
2,35.85,42.57,2013-01-01,2.20,41.40,2013,ES0691A,2013-01-01 00:00:00,00:00:00,nan,nan
3,31.81,31.59,2013-01-01,2.15,41.40,2013,ES1480A,2013-01-01 00:00:00,00:00:00,nan,nan
4,31.81,31.59,2013-01-01,2.15,41.43,2013,ES1856A,2013-01-01 00:00:00,00:00:00,nan,nan

In [67]:
agg_types = ['max']
tall_series = obs_and_mods.fillna(0).groupby(['day', 'station']).agg({
    'Concentration': agg_types
})['Concentration'].reset_index()
aggs = [tall_series.pivot(index='day', columns='station', values=agg) for agg in agg_types]
aggs = [df.rename(columns={c: c + '_' + agg for c in df.columns}) for df, agg in zip(aggs, agg_types)]
wide_series = pd.concat(aggs, axis=1)
wide_series.head()

station,ES0691A_max,ES1396A_max,ES1438A_max,ES1480A_max,ES1679A_max,ES1856A_max,ES1992A_max
day,,,,,,,
2013-01-01,72.00,98.00,112.00,94.00,69.00,39.00,68.00
2013-01-02,87.00,86.00,119.00,79.00,76.00,77.00,85.00
2013-01-03,119.00,85.00,117.00,102.00,78.00,94.00,110.00
2013-01-04,80.00,113.00,123.00,187.00,108.00,60.00,99.00
2013-01-05,60.00,114.00,nan,131.00,114.00,16.00,85.00

In [64]:
tall_series_mod = obs_and_mods.groupby(['day', 'station']).agg({
    'pred_0_days': agg_types
})['pred_0_days'].reset_index().rename(columns={
    'pred_0_days': 'Concentration'
})
wide_series_mod = tall_series_mod\
    .pivot(index='day', columns='station', values='max')\
    .rename(columns={c: c + '_max' for c in tall_series_mod.columns})
wide_series_mod.head()

station     ES0691A  ES1396A  ES1438A  ES1480A  ES1679A  ES1856A  ES1992A
day
2013-01-01    84.45    66.88    84.33    66.18    84.33    66.18    66.88
2013-01-02    94.56    82.88   120.52   109.39   120.52   109.39    82.88
2013-01-03    77.65    66.58    76.64    79.88    76.64    79.88    66.58
2013-01-04   102.79    62.68    48.29    80.10    79.81    80.10    62.74
2013-01-05    89.21    53.53      nan    64.29    73.18    64.29    53.53

In [65]:
obs_and_mods.set_index('day').loc['2015-01-03'].tail()

KeyError: 'the label [2015-01-03] is not in the [index]'

In [55]:
to_impute

station,ES0691A_max,ES1396A_max,ES1438A_max,ES1480A_max,ES1679A_max,ES1856A_max,ES1992A_max
day,,,,,,,
2015-01-03,70.36,40.63,66.81,44.46,66.81,44.46,40.63
2015-01-06,122.30,121.64,144.60,130.53,144.60,130.53,121.64
2015-01-09,95.57,78.34,101.46,54.66,101.46,54.66,78.34
2015-01-12,101.67,97.10,104.45,70.22,104.45,70.22,97.10
2015-01-15,105.26,88.25,101.26,97.05,101.26,97.05,88.25
2015-01-18,68.32,73.48,86.26,84.30,86.26,84.30,73.48
2015-01-21,98.79,90.51,102.58,93.53,102.58,93.53,90.51
2015-01-24,95.76,46.33,91.05,78.67,91.05,78.67,46.33
2015-01-27,102.36,105.18,93.92,111.85,93.92,111.85,105.18
2015-01-30,67.94,33.95,64.80,47.61,64.80,47.61,33.95
2015-02-02,96.23,84.08,99.00,87.86,99.00,87.86,84.08
2015-02-05,97.62,97.49,107.80,106.80,107.80,106.80,97.49
2015-02-08,106.64,80.28,108.17,111.47,108.17,111.47,80.28
2015-02-11,93.38,115.83,109.37,116.78,109.37,116.78,115.83
2015-02-14,73.96,49.35,73.33,59.25,73.33,59.25,49.35
2015-02-17,78.91,82.59,95.33,71.06,95.33,71.06,82.59
2015-02-20,97.07,82.02,87.75,103.30,87.75,103.30,82.02
2015-02-23,68.03,53.46,81.73,64.12,81.73,64.12,53.46
2015-02-26,98.86,93.53,104.02,87.55,104.02,87.55,93.53
2015-03-01,96.41,90.96,97.45,95.05,97.45,95.05,90.96
2015-03-04,80.78,86.23,101.51,92.52,101.51,92.52,86.23
2015-03-07,105.45,115.97,122.92,125.31,122.92,125.31,115.97
2015-03-10,132.99,117.06,136.72,136.72,136.72,136.72,117.06
2015-03-13,94.82,88.92,112.22,121.50,112.22,121.50,88.92
2015-03-16,111.58,129.31,129.54,129.87,129.54,129.87,129.31
2015-03-19,14.81,31.80,22.81,32.50,22.81,32.50,31.80
2015-03-22,33.12,55.83,52.42,42.84,52.42,42.84,55.83
2015-03-25,94.21,76.28,99.97,93.83,99.97,93.83,76.28
2015-03-28,68.28,53.59,95.48,72.09,95.48,72.09,53.59
2015-03-31,73.67,76.63,121.55,74.68,121.55,74.68,76.63
...,...,...,...,...,...,...,...
2015-10-03,98.65,67.83,96.12,74.33,96.12,74.33,67.83
2015-10-06,101.79,93.34,114.94,99.93,114.94,99.93,93.34
2015-10-09,95.76,120.83,112.96,102.47,112.96,102.47,120.83
2015-10-12,62.89,102.48,99.10,113.88,99.10,113.88,102.48
2015-10-15,85.30,104.99,131.78,111.64,131.78,111.64,104.99
2015-10-18,120.49,94.99,128.93,128.79,128.93,128.79,94.99
2015-10-21,109.00,103.04,119.76,111.53,119.76,111.53,103.04
2015-10-24,117.84,131.26,143.55,138.55,143.55,138.55,131.26
2015-10-27,84.49,76.71,97.58,87.79,97.58,87.79,76.71
2015-10-30,62.67,115.10,98.56,112.52,98.56,112.52,115.10
2015-11-02,43.97,60.22,81.34,79.97,81.34,79.97,60.22
2015-11-05,124.92,118.59,133.67,124.78,133.67,124.78,118.59
2015-11-08,86.53,79.11,105.80,101.55,105.80,101.55,79.11
2015-11-11,124.00,143.47,162.18,171.64,162.18,171.64,143.47
2015-11-14,115.04,93.07,106.62,96.46,106.62,96.46,93.07
2015-11-17,143.48,136.43,154.85,148.90,154.85,148.90,136.43
2015-11-20,85.92,91.39,85.53,99.03,85.53,99.03,91.39
2015-11-23,77.03,104.56,101.26,94.25,101.26,94.25,104.56
2015-11-26,84.99,122.25,133.93,105.99,133.93,105.99,122.25
2015-11-29,84.78,71.47,95.82,79.81,95.82,79.81,71.47
2015-12-02,125.40,105.06,123.32,124.25,123.32,124.25,105.06
2015-12-05,109.19,102.12,109.71,118.94,109.71,118.94,102.12
2015-12-08,115.94,102.72,109.38,115.85,109.38,115.85,102.72
2015-12-11,104.34,91.09,103.19,108.60,103.19,108.60,91.09
2015-12-14,97.63,91.68,99.44,94.28,99.44,94.28,91.68
2015-12-17,101.33,82.72,96.65,87.00,96.65,87.00,82.72
2015-12-20,86.98,78.27,85.10,85.66,85.10,85.66,78.27
2015-12-23,111.02,97.78,105.36,113.94,105.36,113.94,97.78
2015-12-26,108.73,99.01,111.92,110.11,111.92,110.11,99.01
2015-12-29,93.35,113.39,106.20,113.48,106.20,113.48,113.39

In [56]:
wide_series.head()

station,ES0691A_max,ES1396A_max,ES1438A_max,ES1480A_max,ES1679A_max,ES1856A_max,ES1992A_max
day,,,,,,,
2013-01-01,72.00,98.00,112.00,94.00,69.00,39.00,68.00
2013-01-02,87.00,86.00,119.00,79.00,76.00,77.00,85.00
2013-01-03,119.00,85.00,117.00,102.00,78.00,94.00,110.00
2013-01-04,80.00,113.00,123.00,187.00,108.00,60.00,99.00
2013-01-05,60.00,114.00,nan,131.00,114.00,16.00,85.00

In [53]:
to_impute = wide_series.loc[test['date'].unique()]
for s in obs_and_mods.station.unique():
    to_impute[s + '_max'] = wide_series_mod.loc[to_impute.reset_index().day, s]
originals = wide_series[list(~wide_series.reset_index().day.isin(test['date'].unique()))]
wide_series_imputed = pd.concat([to_impute, originals]).sort_index()
wide_series_imputed.head()

station,ES0691A_max,ES1396A_max,ES1438A_max,ES1480A_max,ES1679A_max,ES1856A_max,ES1992A_max
day,,,,,,,
2013-01-01,72.00,98.00,112.00,94.00,69.00,39.00,68.00
2013-01-02,87.00,86.00,119.00,79.00,76.00,77.00,85.00
2013-01-03,119.00,85.00,117.00,102.00,78.00,94.00,110.00
2013-01-04,80.00,113.00,123.00,187.00,108.00,60.00,99.00
2013-01-05,60.00,114.00,nan,131.00,114.00,16.00,85.00